@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap');

.sidegigonsidestreet {
    margin-left: 20%;
    display: flex;
}

.daneilbenson {
    width: 25%;
}

.imbackbitches {
    margin-top: 20%;
    margin-left: 5%;
}


.companylogo {
    width: 5%;
    height: 3%;
    margin-top: 2%;
}

.traintogainmore {
    width: 450px;
    height: 43px;
    margin-top: 6%;
/* Secondary/1 */
    background: #F3EEEA;
    border-radius: 8px;
}

.lomgmatter {
    margin-left: 20%;
}

.card-content {
    display: flex;
    margin-left: 5%;
}

.whereeverythingstarted {
    display: flex;
}

.admincard {
    margin-top: 2%;
    width: 20%;
    height: 700px;
    background: #C3A995;
    border-radius: 4px;
}

.anditisagoal {
    display: flex;
}

.anditisagoal {
    margin-left: 25%;
}

.adminline {
    margin-top: 50%;
    border: none;
    background: #C3A995;
}

.adminlines:hover {
    background: #FFFFFF;
}

.adminline:hover {
    background: #FFFFFF;
}

.adminlines {
    border: none;
    margin-top: 10%;
    background: #C3A995;
}

.makeichoplifeonalow {
    margin-top: 1%;

}

.makeichoplifeonalowh3 {
    margin-left: 40%;
    margin-bottom: 5%;
}

.makeitgreen {
    -webkit-text-fill-color: #41B954;
}

/* .makeitgreen :hover {
    color: #FFFFFF;
} */

.everydaymadeoutoflove {
    margin-left: 5%;
    width: 1000px;
    background: #FBF7F3;
    border-radius: 12px;
    margin-bottom: 1%;

}

.everydaymadeoutoflove:hover {
    background: #41B954;
    color: white;
}

.makeitabetterplace {
    display: flex;
    margin-left: 5%;
    gap: 13%;
}

/* .makeitabetterplace p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    -webkit-text-fill-color: #736557;
    
} */

.makeitabetterplace p:hover {
    -webkit-text-fill-color: #FFFFFF;

}
