@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap');

.navbar-brand {
    position: absolute;
    width: 20px;
    height: 30px 20px;
    margin-top: -365px;
    size: 10%;
    margin-left: 2.09%;
    font-family: 'Cairo';
    font-style: normal;
    font-size: 28px;
    font-weight: 700;
    align-items: center;
}


.thisgivemesomekindofcrap {
    padding: 10%;
}

.nav-link {
    width: 62px;
    height: 22px;
    margin-top: 100px;
    transform: rotate(-90deg);
}


.omoidontknowwhatiswrongwithme {
    margin-left: 7%;
    margin-top: -35%;
    
}

.thisistheresldeal {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px;
gap: 16px;

width: 237px;
height: 59px;

/* Other/1 */

background: #FFFBF7;
/* Hero shadow */

box-shadow: 5px 5px 20px rgba(205, 183, 167, 0.3);
border-radius: 12px;
margin-left: 40%;

}

.illmakethiswork {
    display: flex;
    margin-left: 10%;
    margin-top: -56%;
}

.smallsmallnalife {
    width: 15%;
}

.happynewyear {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;

width: 60px;
height: 60px;

/* Primary/7 */

background: #736557;
border-radius: 30px;
margin-left: 5%;

}

.happynewyear2023 {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;

width: 60px;
height: 60px;

/* Primary/7 */

background: #736557;
background-image: url(/svg/Add\ Shopping\ Cart.svg);
background-size: cover;
border-radius: 30px;
margin-left: 2%;
}

.nowicangotobed {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    /* font-size: 32px; */
    width: 312px;
    height: 38px;
    color: #736557;
    line-height: 120%;
}

.thisgettingsimpler {
    margin-left: 20%;
    width: 934px;
    margin-top: 5%;
height: 58px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 120%;
/* identical to box height, or 58px */

display: flex;
align-items: center;
text-align: center;

/* Primary/7 */

color: #736557;
}

.thsiosisisi {
    display: flex;
}

.thsiosisisibad {
    display: flex;
    margin-left: 15%;
}

.fuckthislevelmann {
    position: absolute;
    margin-left: -1%;
    width: 1250px;
    height: 180px;
    left: 118px;
    top: 344px;
    background: #FFFFFF;
/* Hero shadow */

    box-shadow: 5px 5px 20px rgba(205, 183, 167, 0.3);
}

.drough {
    margin-top: -12%;
}

.thelinethatislining {
    width: 100%;
    margin-top: -16%;
}
.leavethesoul {
    width: 7%;
    margin-left: 4%;
    margin-top: -3%;
}

.leavethesoulss {
    width: 9%;
    margin-left: 4%;
    margin-top: -3%;
}

.vanillashit {
    margin-left: 5%;
    margin-top: 3%;
}

.vanillashitss {
    margin-left: 5%;
    margin-top: 3%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
}

.vanillashitsss {
    margin-left: 5%;
    margin-top: 3%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
}

.iphonefriend {
    display: flex;
    margin-top: -5%;
}

.close {
    margin-top: 1%;
    margin-left: 40%;
    
}

.alwayscallingclass {
    display: flex;
    margin-left: 5%;
}

.lostflies {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 8px;

position: absolute;
width: 193px;
height: 48px;
left: 0px;
top: 0px;

/* Secondary/7 */

border: 1.5px solid #C3A995;
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 12px;
}

.soups {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #736557;
    margin-top: 5%;

}

.cantusethesameclas {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #736557;
    margin-top: 5%;
    display: flex;
}

.sidessnacks {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 120%;
    color: #736557;
    margin-top: 5%;
}

.fishbeef {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #736557;
    margin-top: 5%;
}

.liqour {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #736557;
    margin-top: 5%;
}
.rice {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #736557;
    margin-top: 5%;
}

.swallow {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #736557;
    margin-top: 5%;
}

.drugaddiction {
    width: 164px;
    height: 48px;
    margin-left: 20%;
    margin-top: -2%;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 120%;
/* identical to box height, or 22px */

display: flex;
align-items: center;
text-align: center;

/* Primary/7 */

color: #736557;
}

.beinvolve {
    margin-left: 7%;
    width: fit-content;
}

.beinvolvebad {
    margin-left: 7%;
    width: 25%;
}

.beinvolvebadass {
    margin-left: 7%;
    width: 20%;
}

.modupeomo {
    display: flex;
    margin-left: 30%;
}

.thissectionthenofftobed {
    display: flex;
    margin-top: 25%;
    margin-left: 45%;
    gap: 2%;
}

.thissectionthenofftobedgo {
    display: flex;
    margin-top: 20%;
    margin-left: 38.2%;
    gap: 2%;

}

.ineedsomepussy {
    margin-top: 1%;
    padding: auto;
    font-family: 'Ubuntu';
    color: #736557;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
}

.callmewhenyouneedsomesexy {
    /* width: 20%; */
    margin-left: 10%;
    width: 300px;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 3.2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none;
}

.omoopewofendi {
    display: flex;
    margin-bottom: 5%;
}

.dominiospizza {
   background: #FFFFFF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -10px -10px 20px rgba(243, 243, 243, 0.5);
   border-radius: 100%;
   width: 70%;
   align-items: center;
   margin-left: 16%;
}

.blackisrael {
    background-color: #736557;
    background-image: url(/svg/Add\ Shopping\ Cart\ \(1\).svg);
    background-size: cover;
    border-radius: 50%;
    margin-left: 35%;
    margin-bottom: 2%;
    /* position: inherit; */
    width: 60px;
    height: 60px;
}

.badhustlers {
    display: flex;
}

.burnaoluwa {
    margin-left: 33%;
    margin-top: -15%;
}

.lifenaturnbyturn {
    width: 5%;
}


.footer-color {
    background-color: #736557;
    position: relative;
    width: 1380px;
    height: 423px;
}

.thisgivemesomekindofcrap {
    padding: 10%;
}

.foot-row {
    color: #ffff;
    margin: auto;
    margin-right: 70%;
    margin-bottom: none;
}

.foot-col {
    display: flex;
    margin-left: 10%;
    margin-bottom: -20%;
}

.itismygeebirthday {
    width: 500px;
    height: 50px;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFEDD8;
}


.thismotherfuckerbemovingcrazy {
    width: 73px;
    height: 36px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
/* identical to box height, or 36px */
    display: flex;
    align-items: center;
    color: #FFFFFF;
}


.helpidonkillam {
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -10px -10px 20px rgba(243, 243, 243, 0.5);
/* position: absolute; */
width: 250px;
height: 250px;
border-radius: 100%;
margin-left: 9%;
}

.casala {
    margin-top: 3%;
}

.casalanla {
    margin-top: -20%;
}

.modal {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin-left: 80%;
    margin-top: 10%;
    width: 20%; /* Full width */
    height: 35%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    /* background-color: rgba(0,0,0,0.4); */
    border: none;
    background: #F8F6F0;
    box-shadow: 2px 2px 2px #BBC5D3;
}



.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

